<div class="container">
    <div class="row">
      <div class="center mb-3 mt-3" style="width: 100%; text-align: center;">
        <h3>Welcome in the hotel booking system</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 card1">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-template-for-science-and-technology-presentation-connected-cells-with-links-image_439193.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Check In</h5>
            <p class="card-text">To check in either data is exist in the our record please follow the link and provide basic information in the form.</p>
            <a href="/check-in" class="btn btn-primary">Check In</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 card2">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://png.pngtree.com/thumb_back/fh260/background/20201026/pngtree-template-for-science-and-technology-presentation-connected-cells-with-links-image_439193.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Check Out</h5>
            <p class="card-text">To check out either data is exist in the our record please follow the link and provide basic information in the form.</p>
            <a href="/check-out" class="btn btn-primary">Check Out</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <router-outlet></router-outlet>
  